body{
    padding:3%;
    margin:2%;
}
header{
    background-color: #fd7070;
    background-image: url("flywheel.jpg");
    background-size: 100%;
    padding: 5%;
}
nav a{
    display: inline-block;
    color:#000000;
    margin: 2%;
    border: solid;
    padding: 1% 4%;
    text-decoration: none;
    border-radius: 10px;
    border-color: #fa1dca;
}
.active{
    background-color: #0071e3;

}
.left{
    background-color: #fd7070;
    
    width: 24%;
    float: left;
    padding: 5% 0%;
    

}
.right{
    width:60%;
    display: inline-block;
    padding-left: 5%;
}
.left img {
	border: solid 1px #000000;
	width: 80%;
	margin: 10%;
}
table{
    font-family: Helvetica, Arial, sans-serif;
    font-size: large;
    padding-left: 15%;
}
th{
    border: solid 1px #00ff22;
    border-bottom: solid 3px #4aff62;
    border-radius: 3px 3px 0px 0px;
    background: linear-gradient(#56ab2f 0% , #a8e063 100%);
    color: #ffffff;
    padding: 2% 0%;
}
tr{
    text-align:center;
    opacity:0.8;
}
tr:first-child{
    opacity: 1;
}
td{
    border: solid 0px;
    background: #b9e089;
    color: #000000;
    border-radius:2px;
    padding: 2% 0%;
    text-shadow: 2px 2px #ffffff;
}
th:first-child,td:first-child{
    text-align:left;    
}
tr:hover {
    opacity:1;
}
